body {
  font-family: "monospace" f;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.line-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.number-input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.editor-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  height: 20vh;
}

.lines-preview {
  width: 100%;
  max-width: 600px;
}

.line-preview {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
